body{
  font-family: sans-serif;
  background-color: beige;
  margin:0px; 
}

.layout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;

  text-align: center;
  font-size: 18px;  
  margin:18px;
}

.layout1{
    width: 1366px;
    height: 400px;
  
    display: grid;
    grid-template-rows: repeat(2,0.5fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;

    text-align: center;
    margin:18px;
}
.alumn1{
  padding: 15px;
  color:green;
  background-color: lightgreen;
  border-radius: 10px;
  border-style: outset;
}
.alumn2{
  padding: 15px;
  color:brown;
  background-color: rgb(240, 125, 125);
  border-radius: 10px;
  border-style: inset;
}
header{
  padding:5px;
  background-color: tomato;
  text-align: center;
}
main{
  font-size:24px;
}
footer{
  background-color: tomato;
}
.course{
  height:200px;
  width:400px;
  padding: 10px;
  border-radius:90px;
}
.course1{
  background-color: rgb(207, 133, 79);
  border-radius: 10px;
}
.navbar{
  text-decoration: none;
  color: white;
}
