body{
    margin:0px;
}

.box{
    border:5px solid;
    height: 300px;
    width: 300px;
    font-size: 5em;
    margin:0px;
}
#box1{
    background-color: yellowgreen;
}
#box2{
    background-color: yellow;
}